html, body{
    margin : 0;
    padding : 0;
    font-family : sans-serif;
    height: 100vh;
}

.main{
    background-image: linear-gradient(to right, rgb(119, 0, 255), rgb(133, 20, 240));
    background-attachment: scroll;
    display: grid;
    place-items: center;
    min-height: fit-content;
}

.wrap{
    background: transparent;
    height: calc(100vh - 20px);
    padding: 10px 0;
    width: 90vw;
    display: grid;
    justify-content: center;
    align-items: center;
}

.box1{
    height: 300px;
    box-shadow: 0 0 0.9vw 0.6vh rgba(0, 0, 0, 0.25);
    padding: 0 1.5vw;
    display: grid;
    justify-content: left;
    align-items: center;
}

.intro{
    font-size: larger;
    padding: 1vh 0;
}

.intro .q{
    padding: 2vh 0;
    font-size: xx-large;
}

@media (max-width : 750px) {
    .intro{
        font-size: medium;
    }
    .intro .q{
        font-size: x-large;
    }
}

.box2{
    height: 200px;
    box-shadow: 0 0 0.9vw 0.6vh rgba(0, 0, 0, 0.25);
}