body{
    background: url('ney2.jpg') no-repeat fixed top;
    background-size: cover;
}
#outer{
    font-family: sans-serif;
    color: black;
    font-size: xx-large;
    text-align: center;
    /* text-decoration: underline; */
    width: 50%;
    margin-left: 5%;
    height: auto;
    background-color: lawngreen;
    border-radius: 8px;
    padding: 10px;
}
#inner{
    background-color: aqua;
    color: black;
    height: auto;
    width: 50%;
    margin-left: 5%;
    border-radius: 8px;
    padding: 10px;
}
#inner #name{
    font-family: sans-serif;
    font-size: xx-large;
    text-align: center;
}
#inner p{
    font-family: sans-serif;
}